<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab4</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="upload-section">
    <ion-label class="section-label">Select Video</ion-label>
    <ion-button fill="outline" (click)="appendFileToFormData()">Choose File</ion-button>
    <input #fileInput type="file" accept="video/*" hidden (change)="onFileSelected($event)">
  </div>

  <div class="tags-section">
    <ion-label class="section-label">Tags</ion-label>
    <div class="tags-container">
      <ion-chip *ngFor="let tag of tagsArray" outline>
        <ion-label>{{ tag }}</ion-label>
        <ion-icon name="close-circle" (click)="removeTag(tag)"></ion-icon>
      </ion-chip>
      <ion-input #tagInput [(ngModel)]="currentTag" type="text" placeholder="Add a tag" (keyup.enter)="addTag(); currentTag=''"></ion-input>
    </div>
  </div>

  <ion-button expand="block" class="submit-btn" (click)="uploadFile()">Upload Video</ion-button>
</ion-content>
