<ion-content [fullscreen]="true">

  <div class="upload-section">
    <ion-label class="section-label">Select Video</ion-label>
    <div class="file-upload-wrapper">
      <ion-button fill="outline" (click)="appendFileToFormData()">Choose File</ion-button>
      <input #fileInput type="file" accept="video/*" hidden (change)="onFileSelected($event)">
      <p class="file-name">{{videoName}}</p>
    </div>
  </div>

  <div class="tags-section">
    <ion-label class="section-label">Tags</ion-label>
    <div class="tags-container">
      <ion-chip *ngFor="let tag of tagsArray" outline>
        <ion-label>{{ tag }}</ion-label>
        <ion-icon name="close-circle" (click)="removeTag(tag)"></ion-icon>
      </ion-chip>
      <ion-input #tagInput class="tag-input" [(ngModel)]="currentTag" type="text" placeholder="Add a tag" (keyup.enter)="addTag(); currentTag=''"></ion-input>
    </div>
  </div>

  <ion-button expand="block" class="submit-btn" (click)="uploadFile()">Upload Video</ion-button>
</ion-content>
