.video-container {
    position: relative;
    width: 100%; /* Full width on mobile */
    max-width: 500px; /* Maximum width on larger screens */
    margin: 0 auto; /* Center the container */
    overflow: hidden; /* Hide any overflow */
}

.video-container video {
    width: 100%; /* Video takes full width of the container */
    height: auto; /* Height is set to auto to maintain aspect ratio */
    object-fit: contain; /* Ensures the entire video is visible, may introduce black bars */
}

.video-container {
    position: relative;
  }
  
  .video-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    text-align: center;
  }
  
  .video-overlay button {
    /* Style your button */
  }

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}