<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <swiper-container #swiperRef [slidesPerView]="1" [loop]="false" [pagination]="true" [direction]="'vertical'" (swiperslidechange)="onSlideChange($event)" init="false" pagination-dynamic-bullets="true">
    <swiper-slide class="video-container" *ngFor="let video of videoSources; let i = index" >
      <video playsinline class="videoName" [id]="'video_' + i" [src]="video.manifestUrl" [muted]="false" preload="none"></video>
      <div class="video-overlay">
        <!-- Heart-shaped button using Ionic icons -->
        <ion-button fill="clear" (onClick)="likeVideo(i)">
          <ion-icon name="heart" slot="icon-only"></ion-icon>
        </ion-button>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>

