<ion-content [fullscreen]="false">
  <swiper-container #swiperRef [slidesPerView]="1" [loop]="false" [pagination]="true" [direction]="'vertical'" (swiperslidechange)="onSlideChange($event)" init="false" pagination-dynamic-bullets="true">
    <swiper-slide class="video-container" *ngFor="let videoInfo of videosArray; let i = index" >
      <video playsinline class="videoName" [id]="'video_' + i" [muted]="false" preload="none"></video>
      <div class="video-overlay">
        
        <ion-chip>
          <ion-avatar>
            <img alt="Img" src="{{videoInfo.profileImage}}" />
          </ion-avatar>
          <ion-label>{{videoInfo.email}}</ion-label>
        </ion-chip>
        <!-- Heart-shaped button using Ionic icons -->
        <ion-button fill="clear" (click)="likeVideo(videoInfo.video.blobStorageId)">
          <ion-icon name="heart" slot="icon-only"></ion-icon>
        </ion-button>
        <br>
        <ion-chip *ngFor="let tag of videoInfo.video.tags">
          <ion-label>{{tag.name}}</ion-label>
        </ion-chip>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>

