.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    ion-avatar {
      margin-top: 20%; /* Adjust as needed */
    }
    .profile-image {
      --border-radius: 50%; /* Makes the image round */
      overflow: hidden; /* Ensures the image fits the border radius */
      width: 100px; /* Adjust size as needed */
      height: 100px; /* Adjust size as needed */
      img {
        width: 100%;
        height: 100%;
      }
    }
    .user-name {
      margin-top: 16px; /* Spacing between image and name */
      font-size: 1.2em; /* Adjust size as needed */
      font-weight: bold;
    }
    .logout-button {
      margin-top: 16px; /* Spacing between name and button */
      --background: var(--ion-color-danger); /* Use the danger color variable for red */
    }
  }
  
  ion-content {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
  }
  